[submodule "lib/glfw"]
	path = lib/glfw
	url = https://github.com/glfw/glfw.git
[submodule "lib/glm"]
	path = lib/glm
	url = https://github.com/g-truc/glm.git
[submodule "lib/system.io"]
	path = lib/system.io
	url = https://github.com/wtrsltnk/system.io.git
[submodule "lib/imgui"]
	path = lib/imgui
	url = https://github.com/ocornut/imgui.git
[submodule "lib/glextloader"]
	path = lib/glextloader
	url = https://bitbucket.org/wincppdeps/glextloader.git
